@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
}

body {
    color: #333;
    overflow: auto;
}

.center {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
}

.inicio {
    text-align: center;
    padding: 100px 20px;
    background: #fff;
}

.inicio h1 {
    font-size: 80px;
    color: #ff9d52;
}

.inicio p {
    font-size: 34px;
    margin: 10px 0 20px;
    color: black;
    font-weight: 400;
}

.inicio {
    background: url(../assets/img/bgHeader.png) no-repeat center;
    width: 98.8vw;
    height: 125vh;
}

button {
    background-color: #ff9d52;
    color: white;
    padding: 16px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.boto  {
    margin-top: 200px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 10%;
    background: #fff;
}

.fin {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 10%;
    background: #fff;
}

.fin {
    background: url(../assets/img/bgDown.png) no-repeat center;
    height: 90vh;
    width: 98.8vw;

    
}

.text1 {
    flex: 1;
    padding: 20px;
}

.text1 h2 {
    color: #ff9d52;
    font-size: 40px;
    margin-bottom: 15px;
}

.text1 p {
    line-height: 30px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.644);
    padding-bottom: 45px;
}

.text2 {
    flex: 1;
    padding: 20px;
}

.text2 h2 {
    color: #ff9d52;
    font-size: 40px;
    margin-bottom: 15px;
}

.text2 p {
    line-height: 30px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.644);
    padding-bottom: 45px;
}

.text3 {
    flex: 1;
    padding: 20px;
}

.text3 h2 {
    color: #ff9d52;
    font-size: 40px;
    font-weight: bold;
}

.text3 p {
    line-height: 30px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.644);
    padding-bottom: 45px;
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

footer {
    background: #ff9d52;
    color: white;
    text-align: left;
    padding: 50px 0px 0 0;
    flex-direction: column;
}

.listas {
    display: flex;
    justify-content: space-evenly;

}

.lista {
    list-style-type: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.copy {
    align-items: flex-end;
    padding: 15px 10px;
    text-align: center;
    border-top: 3px solid #fc88(255, 255, 255, 0.3);
    background: #fc8831;
    font-size: 14px;
    margin-top: 30px;
}

.copy p {
    align-items: center;
    margin: 6px 0;
}